#experience-container {
    height: 1000px;
    color: white;
}

.logo-image {
    width: 300px;
}

.virtusa-logo {
    -ms-flex: 0 0 50px;
    flex: 0 0 50px;
    height: 50px;
}

.stackhpc-logo {
    -ms-flex: 0 0 50px;
    flex: 0 0 50px;
    height: 50px;
}

.justeat-logo {
    -ms-flex: 0 0 50px;
    flex: 0 0 50px;
    height: 50px;
}

.experience-text {
    font-size: 25px;
}

.experience-position {
    color: rgb(110, 0, 0);
    font-size: 25px;
    text-align: right;
}

.jumbotron-underline {
    border-bottom: 1px solid maroon;
}