.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: black;
    color: rgb(150, 0, 0);
    box-shadow: 1px 0px 10px maroon;
}

.logo-container {
    height: 150px;
    padding: 20px;
}

.logo {
    font-size: 20px;
}

.logo-text {
    font-size: 13px;
}

.list-group-item-action, .list-group-item-action:hover {
    background-color: black;
}